learn/WebService-Demo/WebContent/wsdl/StockQuoteService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://pojo.service.quickstart.samples" xmlns:impl="http://pojo.service.quickstart.samples" xmlns:intf="http://pojo.service.quickstart.samples" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
<!--WSDL created by Apache Axis version: 1.3
Built on Oct 05, 2005 (05:23:37 EDT)-->
 <wsdl:types>
  <schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://pojo.service.quickstart.samples" elementFormDefault="qualified">
   <element name="update">
    <complexType>
     <sequence>
      <element name="symbol" type="xsd:string"/>
      <element name="price" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
   <element name="updateResponse">
    <complexType/>
   </element>
   <element name="getPrice">
    <complexType>
     <sequence>
      <element name="symbol" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getPriceResponse">
    <complexType>
     <sequence>
      <element name="getPriceReturn" type="xsd:double"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getPriceResponse">

      <wsdl:part name="parameters" element="impl:getPriceResponse"/>

   </wsdl:message>

   <wsdl:message name="getPriceRequest">

      <wsdl:part name="parameters" element="impl:getPrice"/>

   </wsdl:message>

   <wsdl:message name="updateRequest">

      <wsdl:part name="parameters" element="impl:update"/>

   </wsdl:message>

   <wsdl:message name="updateResponse">

      <wsdl:part name="parameters" element="impl:updateResponse"/>

   </wsdl:message>

   <wsdl:portType name="StockQuoteService">

      <wsdl:operation name="update">

         <wsdl:input name="updateRequest" message="impl:updateRequest"/>

         <wsdl:output name="updateResponse" message="impl:updateResponse"/>

      </wsdl:operation>

      <wsdl:operation name="getPrice">

         <wsdl:input name="getPriceRequest" message="impl:getPriceRequest"/>

         <wsdl:output name="getPriceResponse" message="impl:getPriceResponse"/>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="StockQuoteServiceSoapBinding" type="impl:StockQuoteService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="update">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="updateRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="updateResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="getPrice">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getPriceRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getPriceResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="StockQuoteServiceService">

      <wsdl:port name="StockQuoteService" binding="impl:StockQuoteServiceSoapBinding">

         <wsdlsoap:address location="http://localhost:8081/webservice/services/StockQuoteService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
